<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="template1"
      >
<head>
    <meta charset="UTF-8">
    <title>Patients Management</title>

</head>
<body>
<div layout:fragment="content1">
    <div class="container">
        <h1 class="text-danger">Vous n'etes pas autoriser à accéder à cette ressource</h1>
    </div>
</div>
</body>
</html>