<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template4">
<head>
    <meta charset="UTF-8">
    <title>Update Student</title>

</head>
<body>
<div layout:fragment="content1">


    <form method="post" th:action="@{/admin/save(page=${page},keyword=${keyword})}">
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <img class="rounded-circle mt-5" width="150px" src="https://upload.wikimedia.org/wikipedia/commons/f/f3/Student_%28example%29.svg"><span class="font-weight-bold"><label th:text="${student.nom}"></label></span><span class="text-black-50"><label th:text="${student.email}"></label></span><span> </span></div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Consult student's information</h4>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label class="labels">ID : </label>
                                <label class="control-label" th:text="${student.id}"></label>
                                <input class="form-control" name="id" type="hidden" th:value="${student.id}">

                            </div>
                            <div class="col-md-12"><label class="labels">Firstname : </label>
                                <input class="form-control" name="nom" type="text" th:value="${student.nom}">
                                <span th:errors="${student.nom}" class="text-danger"></span>
                            </div>
                            <div class="col-md-12"><label class="labels">Lastname : </label>
                                <input class="form-control" name="prenom" type="text" th:value="${student.prenom}">
                                <span th:errors="${student.prenom}" class="text-danger"></span>
                            </div>
                            <div class="col-md-12"><label class="labels">Sexe : </label>
                                <div th:each="model : ${T(me.khaoula.studentmvc.entities.Gender).values()}">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" th:field="*{student.genre}" th:value="${model}" class="custom-control-input">
                                        <label class="custom-control-label" th:for="${#ids.prev('genre')}" th:text="${model}">model</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12"><label class="labels">Email : </label>
                                <input class="form-control" name="email" type="text" th:value="${student.email}">
                                <span th:errors="${student.email}" class="text-danger"></span>
                            </div>
                            <div class="col-md-12"><label class="labels">Birth Date : </label>
                                <input class="form-control" name="dateNaissance" type="date"
                                       th:value="${student.dateNaissance}">
                                <span th:errors="${student.dateNaissance}" class="text-danger"></span>
                            </div>
                            <div class="col-md-12"><label class="labels">Status :  </label>
                                <input name="enRegle" type="checkbox" th:checked="${student.enRegle}" >
                                <span th:errors="${student.enRegle}" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="mt-5 text-center">
                            <a class="btn btn-outline-primary" th:href="@{/user/index(id=${student.id}, keyword=${keyword}, page=${page})}">
                                <i class="fas fa-arrow-alt-circle-left"></i>
                            </a>
                            <button onclick="swal('Well Update!', 'You update this student!', 'success')" type="submit" class="btn btn-outline-primary"><i class="fas fa-save"></i></button>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center experience"><span>Marks</span>
                            <a class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Visit</a>
                        </div><br>
                        <div class="col-md-12"><label class="labels">Experience in Development</label>
                            <label class="labels">4 Years</label>
                            <div class="col-md-12"><label class="labels">Additional Details</label>
                                <label class="labels"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


</div>
</body>
</html>